body {
    background-image: url("http://localhost:3000/assets/images/background.png");
    background-size: 100%;
    background-repeat: repeat-y;
}

h1{
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;
}

h2{
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;
}

p{
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;  
}

.noteMessage{
    color: slategrey;
    font-style: italic;
    font-weight: lighter;
    font-size: 17px;
}

.divMain{
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: gainsboro;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.message{
    color: white;
}

.title{
    width: 70%;
    height: 20px;
}

.gcode{
    height: 20px;
    width: 80px;
}

.solution{
    width: 70%;
    height: 20px;
}

.owner{
    width: 108px;
    height: 20px;
}

.pageTitle{
    color: seagreen;
}

.approved{
    background-color: #E6F7F0;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #05874D;
}

.approvedtext{
    color: #2e2e2e;
}