<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="assets/js/home.js"></script>
    <link rel="stylesheet" href="assets/css/home.css" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png" />
    <title>Home | CacheCheck</title>
  </head>
  <body>
    <div class="header">
      <img class="logoup" src="assets/images/logo.png" />
      <div class="menu">
        <button>Dashboard</button>
      </div>
    </div>
    <div class="divMain">
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
      <div class="mid">
        <h1>Welcome!</h1>
        <p>Welcome!</p>
      </div>
    </div>
    <div class="lateral">
      <h1>Welcome!</h1>
      <p>Welcome!</p>
    </div>
  </body>
</html>
